player-connection-mode=Listen
player-connection-guid=4223084599
player-connection-debug=0
player-connection-ip=100.76.169.41
player-connection-ip=172.19.83.237
player-connection-ip=100.64.2.115
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
